<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Syncopate:wght@400;700&display=swap" rel="stylesheet">
    <!-- REMIXICON -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css" integrity="sha512-MqL4+Io386IOPMKKyplKII0pVW5e+kb+PI/I3N87G3fHIfrgNNsRpzIXEi+0MQC0sR9xZNqZqCYVcC61fL5+Vg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css" integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- {{-- FAVICON --}} -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <!--=============== SWIPER CSS ===============-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>    
    <!-- BOOTSTRAP CSS -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"> -->
    <!-- mioCSS -->
    <link rel="stylesheet" href="style.css">
    
   <title>ShoesWebsite</title>
    

</head>
<body>
    <header class="header" id="header">
        <nav class="nav container">
            <a href="/" class="nav__logo">
                <img src="img/nike_logo.svg" alt="image">
            </a>
    
            <div class="nav__menu" id="nav-menu">
                
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">MEN</a>
                    </li>
                
                    <li class="nav__item">
                        <a href="#" class="nav__link">WOMEN</a>
                    </li>
                   
                    <li class="nav__item">
                        <a href="#" class="nav__link">POPULAR</a>
                    </li>
                
                    <li class="nav__item">
                        <a href="#" class="nav__link">TREND</a>
                    </li>
                    
                </ul>
    
                <!-- {{-- CLOSE BUTTON --}} -->
                <div class="nav__close" id="nav-close">
                    <i class="bi bi-toggle-on"></i>
                    <i class="bi bi-x-lg"></i>
    
                </div>
    
            </div>
    
            <!-- {{-- Toggle button --}} -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="bi bi-toggle-off"></i>
                <i class="bi bi-three-dots-vertical"></i>
            </div>
    
        </nav>
    </header>

    <main class="container_layout">
        <section class="home">
            <div class="home__container container">
                <!-- {{-- HOME-DATA --}} -->
                <div class="home__data">
                    <h2 class="home__subtitle">NIKE</h2>

                    <h1 class="home__title">
                        LUPINEK <br>
                        FLINIK <br>
                        ACG
                    </h1>

                    <p class="home__description">
                        We champion continual progress for athletes and sport by taking action to help athletes reach their potential. Every job at NIKE, Inc. is grounded in a team-first mindset, cultivating a culture of innovation and a shared purpose to leave an enduring impact.
                    </p>

                    <a href="#" class="home__button">BUY NOW</a>
                </div>
                
                <!-- {{-- HOME-IMAGE --}} -->
                <div class="home__images">

                    <div class="home__circle"></div>

                    <div class="home__swiper swiper ">
                        <div class="swiper-wrapper">
                            <article class="home__article swiper-slide">
                                <img src="img/shoe-1.png" alt="image-shoe" class="home__shoe">
                            </article>

                            <article class="home__article swiper-slide">
                                <img src="img/shoe-2.png" alt="image-shoe" class="home__shoe">
                            </article>

                            <article class="home__article swiper-slide">
                                <img src="img/shoe-3.png" alt="image-shoe" class="home__shoe">
                            </article>
                        </div>
                    </div>

                    <!-- {{-- Pagination --}} -->
                    <div class="swiper-pagination"></div>
                   
                    

                </div>

                <!-- {{-- HOME-SOCIAL --}} -->
                <div class="home__social">
                    <a href="https://www.facebook.com/nike/" target="_blank" class="home__social-link">
                        <i class="bi bi-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com/nike/" target="_blank" class="home__social-link">
                        <i class="bi bi-instagram"></i>
                    </a>

                    <a href="https://www.youtube.com/@nike" target="_blank" class="home__social-link">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>

            </div>

        </section>
    </main>

    <footer class="footer section">
        <div class="footer__container container grid">
            <a href="#" class="footer__logo">
                <img src="/img/nike_logo.svg" alt="">
            </a>
    
            <div class="footer__content">
                <h3 class="footer__title">Sections</h3>
    
                <ul class="footer__links">
                    <li>
                        <a href="#specs" class="footer__link">MEN</a>
                    </li>
                    <li>
                        <a href="#case" class="footer__link">WOMEN</a>
                    </li>
                    <li>
                        <a href="#discount" class="footer__link">POPULAR</a>
                    </li>
                    <li>
                        <a href="#products" class="footer__link">TREND</a>
                    </li>
                </ul>
            </div>
    
            <div class="footer__content">
                <h3 class="footer__title">Support</h3>
    
                <ul class="footer__links">
                    <li>
                        <a href="#" class="footer__link">Product help</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Register</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Updates</a>
                    </li>
                    <li>
                        <a href="#" class="footer__link">Provides</a>
                    </li>
                </ul>
            </div>
    
            <div class="footer__content">
                
    
                <div class="footer__social">
                    <a href="https://www.facebook.com/" target="_blank" class="home__social-link">
                        <i class="bi bi-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/" target="_blank" class="home__social-link">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://twitter.com/" target="_blank" class="home__social-link">
                        <i class="bi bi-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    
        <p class="footer__copy">@GiovanniGravante. All right reserved </p>
    
    </footer>
    

    <!-- BOOTSTRAP JS -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
     <!--=============== SWIPER JS ===============-->
     <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
     <!-- miojs -->
     <script src="script.js"></script>
</body>
</html>